doctype html
html(lang=en)
	head
		style
			include style.css
	body
		h1 Tsunami Prediction App
		div
			form(action='/' method='POST' enctype='multipart/form-data')
				ul
					each key in keys
						li 
							label(for=key) #{key}
							input(type=types[key] name=key id=key)
					li 
						input(type="submit")
